* {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
    box-sizing: border-box;
}

body {
    background-color: hsl(210, 46%, 95%);
}

.item1 {
    background: hsl(263, 55%, 52%);
    color:  hsl(210, 46%, 95%);
}

.item2 {
    background-color:  hsl(217, 19%, 35%);
    color:  hsl(210, 46%, 95%);
}

.item3 {
    background-color: hsl(0, 0%, 100%);
    color:hsl(217, 19%, 35%);
}

.item4 {
    background-color: hsl(219, 29%, 14%);
    color:  hsl(210, 46%, 95%);
}

.item5 {
    background-color: hsl(0, 0%, 100%);
    color: hsl(217, 19%, 35%);
}

.item1 .profile-pic {
    border: 2px solid hsl(263, 40%, 59%);   
}

.item4 .profile-pic {
    border: 2px solid hsl(263, 55%, 52%); 
}

.testimonial-card {
    width: 100%;
    align-items: center;
    border-radius: 8px;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid inherit;
}

.author-info {
    margin: 0 20px;
    padding-top: 4px;
}

.testimonial {
    width: 100%;
    line-height: 1.5em;
}

.profile-header {
    display: flex;
    flex-direction: row;
}

.stats {
    opacity: 50%;
}

b .name {
    display: flex;
    flex-direction: column;
}

.testimonial h3 {
    font-size: 18px;
}

.testimonial p {
    opacity: 70%;
}

.attribution {
    color: hsl(217, 19%, 35%);
    opacity: 70%;
    letter-spacing: 1px;
}

a {
    text-decoration: none;
}


/* Mobile */
@media (min-width: 320px) and (max-width: 480px) {

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .grid-container {
        min-width: 320px;
        margin-top: 60px;
        margin-bottom: 50px;
        width: 90%;
    }

    .testimonial-card {
        margin-bottom: 20px;
        padding: 25px;
        text-align: left;
    }

    .profile-pic {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid inherit;
    }

    .author-info {
        margin: -6px 20px;
        padding-top: 5px;
    }

    .testimonial {
        width: 100%;
        line-height: 1.5em;
    }

    .item1 {
        background-image: url("../images/bg-pattern-quotation.svg");
        background-repeat: no-repeat;
        background-position: 90% 0;
    }
}

/* ------------------------- WORK IN THE TABLET LAYOUT -----------------------------*/

/* Tablet layout */

@media (min-width: 481px) and (max-width: 1199px) {
    .grid-container {  
        width: 40%; 
        margin: auto;
        display: grid;
        column-gap: 20px; /* change to a fixed value */
        row-gap: 20px; /* change to a fixed value */
    }
}

/* -------------------------------------------------------------------------------- */

/* Desktop grid layout */

@media (min-width: 1200px) {
    
    .grid-container {  
        width: 1200px;  
        min-height: 580px;
        margin: auto;
        display: grid;
        column-gap: 30px; 
        row-gap: 30px;
        margin-top: 7vw;
    }

    .item1 {
        padding: 20px 25px 20px 25px;
        grid-column: 1 / span 2;
        grid-row: 1; 
        background-image: url("../images/bg-pattern-quotation.svg");
        background-repeat: no-repeat;
        background-position: 80% 0;
        
    }
    
    .item2 {
        padding: 20px;
    }
    
    .item3 {
        padding: 20px;
        grid-column: 1;
        grid-row: 2;    
    }
    
    .item4 {
        padding: 20px 25px;
        grid-column: 2 / span 2;
        grid-row: 2;   
    }
    
    .item5 {
        padding: 20px;
        grid-column: 4;
        grid-row: 1 / span 2;
    }

    .attribution {
        width: 100%;
        position: absolute;
        text-align: center;
        bottom: 6px;
    }
}
