* {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
    box-sizing: border-box;
}

body {
    background-color: hsl(210, 46%, 95%);
}

.item1 {
    background: hsl(263, 55%, 52%);
    color:  hsl(210, 46%, 95%);
}

.item2 {
    background-color:  hsl(217, 19%, 35%);
    color:  hsl(210, 46%, 95%);
}

.item3 {
    background-color: hsl(0, 0%, 100%);
    color:hsl(217, 19%, 35%);
}

.item4 {
    background-color: hsl(219, 29%, 14%);
    color:  hsl(210, 46%, 95%);
}

.item5 {
    background-color: hsl(0, 0%, 100%);
    color: hsl(217, 19%, 35%);
}

.item1 .profile-pic {
    border: 2px solid hsl(263, 40%, 59%);   
}

.item4 .profile-pic {
    border: 2px solid hsl(263, 55%, 52%); 
}

.testimonial-card {
    width: 100%;
    align-items: center;
    border-radius: 8px;
}

.profile-header {
    display: flex;
    flex-direction: row;
}

.stats {
    opacity: 50%;
}

b .name {
    display: flex;
    flex-direction: column;
}

.testimonial h3 {
    font-size: 18px;
}

.testimonial p {
    opacity: 70%;
}

.attribution {
    color: hsl(217, 19%, 35%);
    opacity: 70%;
    letter-spacing: 1px;
}

a {
    text-decoration: none;
}


/* Mobile */
@media only screen and (max-width: 375px) {

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .grid-container {
        margin-top: 60px;
        margin-bottom: 50px;
        width: 90%;
    }

    .testimonial-card {
        margin-bottom: 20px;
        padding: 25px;
        text-align: left;
    }

    .profile-pic {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid inherit;
    }

    .author-info {
        margin: -6px 20px;
        padding-top: 5px;
    }

    .testimonial {
        width: 100%;
        line-height: 1.5em;
    }

    .item1 {
        background-image: url("../images/bg-pattern-quotation.svg");
        background-repeat: no-repeat;
        background-position: 50vw 0;
    }
}

/* Try to fix the text tabulation to match the design  */

/* Desktop grid layout */
@media only screen and (min-width: 376px) {

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .grid-container {  
        width: 60vw;
        height: 1vh;
        display: grid;
        column-gap: 1.5vw;
        row-gap: 3vh;
        margin-top: 15vh;
    }

    .profile-pic {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 2px solid inherit;
    }

    .author-info {
        margin: 0 20px;
        padding-top: 4px;
    }

    .testimonial {
        width: 100%;
        line-height: 1.5em;
    }
    
    .item1 {
        padding: 5% 6% 4% 6%;
        grid-column: 1 / span 2;
        grid-row: 1; 
        background-image: url("../images/bg-pattern-quotation.svg");
        background-repeat: no-repeat;
        background-position: 80% 0;
        
    }
    
    .item2 {
        padding: 8% 10% 4% 10%; 
    }
    
    .item3 {
        padding: 8% 10% 4% 10%;
        grid-column: 1;
        grid-row: 2;    
    }
    
    .item4 {
        padding: 5% 6% 4% 6%;
        grid-column: 2 / span 2;
        grid-row: 2;   
    }
    
    .item5 {
        padding: 8% 10% 4% 10%;
        grid-column: 4;
        grid-row: 1 / span 2;
    }

    .attribution {
        position: absolute;
        bottom: 6px;
    }
}
